<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="xml_annotations.entity" />
	<bean id="project0" class="xml_annotations.entity.Project">
		<constructor-arg value="100" />
		<constructor-arg value="Smart Traffic " />
		<constructor-arg value="DL Based" />
	</bean>
	<bean id="project1" class="xml_annotations.entity.Project">
		<constructor-arg value="101" />
		<constructor-arg value="Earthquake Prediction" />
		<constructor-arg value="ML Based" />
	</bean>

	<bean id="project2" class="xml_annotations.entity.Project">
		<constructor-arg value="102" />
		<constructor-arg value="Weather Forecast" />
		<constructor-arg value="AI Model" />
	</bean>

</beans>